<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Danh sách bảo hành</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="pl-3 pr-3 app-margin-bottom pt-5">
        <div class="alert alert-danger" *ngIf="isOffNetWOrk">Bị mất mạng hoặc lấy dữ liệu mới nhất thất bại. <br> Sẽ sử
            dụng dữ liệu lần cuối lấy được để hiển thị
        </div>
        <div class="alert alert-danger" *ngIf="load">Đang lấy dữ liệu mới, vui lòng chờ.</div>
        <div class="form-group">
            <div class="row pt-4">
                <label class="col-2 pt-2">
                    Tổng: {{valuesShow.length}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="row pt-4">
                <label class="col-2 pt-2">Imei</label>
                <div class="col-4">
                    <input type="txt" placeholder="Imei" class="form-control"
                           [(ngModel)]="search.imei" name="Imei">
                </div>
                <ion-button class="p-0 m-0" (click)="findByImei(search.imei)">Tìm bởi imei</ion-button>
            </div>
        </div>
        <ion-button (click)="findNew()">Lấy tất cả dữ liệu mới</ion-button>
        <div class="form-group row">
            <label class="col-3 pt-2">Ngày mua</label>
            <label class="col-2 pt-2">Tên khách</label>
            <label class="col-2 pt-2">Máy</label>
            <label class="col-2 pt-2">Imei</label>
            <label class="col-3 pt-2">Giá</label>

            <ng-container *ngFor="let items of valuesShowDataHtml;let i=index">
                <label class="col-3 pt-2" [ngClass]="{'borderPhanLine': i%2==0}">{{items.values[0]}}</label>
                <label class="col-2 pt-2" [ngClass]="{'borderPhanLine': i%2==0}">{{items.values[1]}}</label>
                <label class="col-2 pt-2" [ngClass]="{'borderPhanLine': i%2==0}">{{items.values[2]}}</label>
                <label class="col-2 pt-2" [ngClass]="{'borderPhanLine': i%2==0}">{{items.values[3]}}</label>
                <label class="col-3 pt-2"
                       [ngClass]="{'borderPhanLine': i%2==0}">{{items.values[5].replace('đ', '')}}</label>
            </ng-container>
        </div>
        <ng-container *ngIf="valuesShow.length>0">
            <pagination [maxSize]="5" [(ngModel)]="page" [itemsPerPage]="sizeShowPagination"
                        [totalItems]="valuesShow?.length"
                        (pageChanged)="changePagination($event.page)"></pagination>

        </ng-container>
    </div>
</ion-content>

<ng-template #template_edit>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cập nhật lại thông tin</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefEdit?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered" *ngIf="DataSheetsEdit.values.length>0">
                <tbody>
                <tr class="ng-star-inserted">
                    <td class="col-xs-3"><code>ID index</code></td>
                    <td class="col-xs-9">
                        <div>
                            <p>{{DataSheetsEdit.id}}</p>
                        </div>
                    </td>
                </tr>
                <tr class="ng-star-inserted">
                    <td class="col-xs-3"><code>Ngày mua</code></td>
                    <td class="col-xs-9">
                        <div>
                            <p>{{DataSheetsEdit?.values[0]}}</p>
                        </div>
                    </td>
                </tr>
                <tr class="ng-star-inserted">
                    <td class="col-xs-3"><code>Tên khách</code></td>
                    <td class="col-xs-9">
                        <div>
                            <input placeholder="tenKhach" class="form-control" [(ngModel)]="DataSheetsEdit?.values[1]">
                        </div>
                    </td>
                </tr>
                <tr class="ng-star-inserted">
                    <td class="col-xs-3"><code>Máy</code></td>
                    <td class="col-xs-9">
                        <div>
                            <input placeholder="tenKhach" class="form-control" [(ngModel)]="DataSheetsEdit?.values[2]">
                        </div>
                    </td>
                </tr>
                <tr class="ng-star-inserted">
                    <td class="col-xs-3"><code>Imei</code></td>
                    <td class="col-xs-9">
                        <div>
                            <input placeholder="tenKhach" class="form-control" [(ngModel)]="DataSheetsEdit?.values[3]">
                        </div>
                    </td>
                </tr>
                <tr class="ng-star-inserted">
                    <td class="col-xs-3"><code>Giá</code></td>
                    <td class="col-xs-9">
                        <div>
                            <input placeholder="tenKhach" class="form-control" [(ngModel)]="DataSheetsEdit?.values[5]">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <ion-button class="p-0 m-0" (click)="update(DataSheetsEdit)">
            Cập nhật
        </ion-button>
    </div>
</ng-template>
