<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tíภ Ꭰũภg</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="pl-3 pr-3 app-margin-bottom pt-5">
        <div class="form-group font-weight-bold">
            <div class="row pt-4">
                <label class="col-4 pt-2">Tên cửa hàng</label>
                <label class="col-8 pt-2">Điện Thoại Tín Dũng</label>
            </div>
            <div class="row pt-4">
                <label class="col-4 pt-2">Địa chỉ</label>
                <label class="col-8 pt-2">Thôn 3, Song Phương, Hoài Đức, Hà Nội</label>
            </div>
            <div class="row pt-4">
                <label class="col-4 pt-2">Điện thoại</label>
                <label class="col-8 pt-2"><a href="tel:0965223523">0965.223.523</a></label>
            </div>
            <div class="row pt-4">
                <label class="col-4 pt-2">Facebook</label>
                <label class="col-8 pt-2"><a href="https://www.facebook.com/DienThoaiTinDung">Điện Thoại Tín
                    Dũng</a></label>
            </div>
        </div>
    </div>

</ion-content>
